.App {
  text-align: center;
  background: linear-gradient(rgb(189, 33, 80), rgb(212, 100, 24));
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
